<!DOCTYPE html>
<html>

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Arrangements</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&family=Ubuntu:wght@300;400;500&family=Work+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <!-- favicon -->
    
</head>
<body class="arrangement-page" onload="myFunction()">
    <h1>ARRANGEMENTS</h1>
    <table class="arrangement-table">
        <% for(let i = 0;i < data[0].length; i++) { %>
            <th><%= i==0?'/':i; %></th>
        <% } %>
        <% data.forEach(function(d){ %>
            <tr>
                <% d.forEach(function(dat){ %>
                    <td><%= dat %></td>
                <% }) %>
            </tr>
        <% }) %>
    </table>

    <button type="button" class="print-button" onclick="window.print()">PRINT</button>
    <button type="button" class="close-button" onclick="window.close()">CLOSE</button>

    <script>
        const myFunction = () => {
            const tableElements = document.querySelectorAll('.arrangement-table tr td');
            for(let i = 0; i < tableElements.length; i++) {
                let str = tableElements[i].innerHTML;
                tableElements[i].innerHTML = str.replace('#', '<br>');
            }
        }
    </script>
</body>


</html>