<!DOCTYPE html>
<html>

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>How To | Arrangements</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&family=Ubuntu:wght@300;400;500&family=Work+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <!-- js -->
    <script src="/js/scriptHowto.js" defer></script>
    <!-- favicon -->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="navbar">
        <h1 class="navbar-title"><a href="/">Arrangements</a></h1>
        <div class="navbar-buttons">
            <a href="/">Home</a>
            <a class="active" href="howto">How To</a>
            <a href="about">About</a>
        </div>
        <span class="nav-toggle">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </span>

        <div class="project-info">
            <h2>Overview</h2>
            <p>This Project aims to help Schools and Other Educational Institutes, where it can automatically make Arrangements for
                absent teachers, when provided with today's timetable and a list of absent teachers, reducing the workload of the 
                concerned by a considerable amount. It comes with a simple and easy-to-use interface, increasing accessiblity. It 
                targets the subject teachers first in order to make arrangement followed by any other available teacher. One can easily
                add the timetable as it can read it from an excel sheet, and can easily print the prepared arrangement table.
            </p>
        </div>
    </header>

    <section class="odd">
        <p><strong>Step 1:</strong> Prepare the time table as an excel sheet. You can find the Template <a href="/files/TimeTable.xlsx" download>HERE</a> </p>
        <img src="/img/fillTT.png" alt="Step 1">
    </section>

    <section class="even">
        <p><strong>Step 2:</strong> Selection the time table using the option given.</p>
        <img src="/img/uploadTT.png" alt="Step 2">
    </section>

    <section class="odd">
        <p><strong>Step 3:</strong> Enter the name of absent teacher using the textbox given. (To speed up entering names, use '
            <i class="fa fa-keyboard-o"></i> Enter' 
            upon typing the teacher Code) an click the Make Arrangement button to generate arrangement result.
        </p>
        <img src="/img/addAbsent.png" alt="Step 3">
    </section>

    <section class="even">
        <p><strong>Step 4:</strong> You can use the print button to print out the table.</p>
        <img src="/img/printArr.png" alt="Step 4">

        <br>
        <button class="try-it">Try It Out <i class="fa fa-arrow-right"></i></button>
        <br><span>___________________________________________</span>
    </section>

    <footer>
        © Copyright 2020, All Rights Reserved
    </footer>
</body>


</html>