html {
    font-family: sans-serif;
    /* text-align: center; */
}

body {
    margin: 0;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

footer {
    text-align: center;
    padding: 30px 0 20px 0;
    color: black; 
    background-color: #f1d4d4;  
}

.navbar {
    height: 500px;
    background-color: #000000;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar-title {
    color: white;
    display: inline-block;
    font-size: 40px;
    line-height: 80px;
    padding: 40px 10%;
    letter-spacing: 1px;
}

.navbar-buttons {
    float: right;
    padding: 40px 0;
    margin-right: 10%;
    line-height: 80px;
    font-size: 18px;
}

.navbar-buttons a {
    color: white;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 0 10px;
    margin: 0 20px;
    border-radius: 3px;
    text-decoration: none;
}

.navbar-buttons a.active, .navbar-buttons a:hover {
    border: 1px solid white;
    transition: 0.5s;
}

.nav-toggle i {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 10%;
    cursor: pointer;
    display: none;
}

@media (max-width: 1048px) {
    .navbar-buttons a {
        margin: 0 10px;
    }
}

@media (max-width: 900px) {
    .nav-toggle i{
        display: block;
        transition: 0.5s;
    }

    .navbar-buttons {
        position: fixed;
        width: 100%;
        background: #fbbedf;
        top: 80px;
        right: -110%;
        text-align: center;
        transition: all 0.5s;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 100%;
    }

    .navbar-title {
        padding: 0 10%;
    }

    .navbar-buttons a {
        display: block;
        border: none;
        line-height: 60px;
    }
    
    .navbar-buttons a.active, a:hover {
        border: none;
        transition: 0s;
        color: black;
    }

    .navbar-buttons.show {
        right: -10%;
    }
}

/**************************************************************************************/
/************************************ UPLOAD BUTTON ***********************************/
/**************************************************************************************/

.time-table {
    margin-top: 70px;
    text-align: center;
}

.upload-btn-txt { 
    display: inline-block;
    width: 95%;
    background: white;
    text-align: left;
    line-height: 50px;
    border-radius: 15px;
    padding-left: 20px;
    color: black;
    font-size: 18px;
}

.temp-upload-btn {
    float: right;
    height: 50px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0 20px;
    color: black;
    background-color: #e08fc7;
    font-size: 16px;
    cursor: pointer;
}

.temp-upload-btn:hover {
    background-color: #6a097d;
    color: white;
}

.upload-tt {
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    width: 60%;
    padding: 10px;
    margin: 0 auto;
}

.upload-tt h2 {
    font-weight: 400;
}

/**************************************************************************************/
/************************************ ABSENT TEACHER***********************************/
/**************************************************************************************/

ul {
    margin: 0;
}

section.odd {
    background-color: #f1d4d4;
}

.mark-absent {
    text-align: center;
    margin: 0 auto;
    width: 350px;
    padding: 30px 0;
}

.absentees {
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px grey;
    margin-top: 30px;
}

.absentees ul {
    list-style: none;
    padding: 5px 0;
}

.absent-teachers li {
    line-height: 50px;
    font-size: 20px;
    text-align: left;
    padding-left: 25px;
    border-bottom: 1px solid lightgrey;
}

.absentees input{
    margin-left: 10px;
    border: none;
    width: 70%;
    line-height: 40px;
    font-size: 20px;
    color: black;
    padding: 0;
}

.absentees span {
    display: inline-block;
    line-height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 30px;
    color: white;
    background-color: #6a097d;
    margin: 10px;
    cursor: pointer;
}

.absentees span:hover {
    background-color: #c060a1;
}


.make-arrangements {
    margin: 30px;
    margin-top: 50px;
    border: 3px solid black;
    background-color: black;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    padding: 0 20px;
    transition: 0.2s;
    cursor: pointer;
}

.make-arrangements:hover {
    border: 3px solid black;
    background-color: white;
    color: black;
}

/**************************************************************************************/
/************************************ARRANGEMENT TABLE*********************************/
/**************************************************************************************/

.arrangement-page {
    text-align: center;
}

.arrangement-page h1 {
    padding-top: 30px;
}

.arrangement-table, .arrangement-table th, .arrangement-table tr td {
    border: 1px solid black;
    border-collapse: collapse;
}

.arrangement-table {
    margin: 20px auto;
}

.arrangement-table th, .arrangement-table tr td {
    min-width: 80px;
    line-height: 25px;
    font-size: 20px;
}

.arrangement-table th {
    line-height: 50px;
    font-size: 24px;
}

.arrangement-table tr td {
    padding: 10px 0;
}

.print-button, .close-button {
    margin: 20px;
    border: 3px solid black;
    background-color: white;
    line-height: 30px;
    font-size: 20px;
    border-radius: 5px;
    color: black;
    letter-spacing: 1px;
    padding: 0 20px;
    transition: 0.2s;
    cursor: pointer;
}

.print-button:hover, .close-button:hover {
    border: 3px solid black;
    background-color: black;
    color: white;
}

@media print {
    @page {
        size: landscape;
    }

    .print-button, .close-button {
        display: none;
    }
}


/**************************************************************************************/
/************************************ABOUT ME*********************************/
/**************************************************************************************/


.about-me {
    text-align: center;
    color: white;
}

.about-me img {
    border-radius: 100%;
}

.about-me h2 {
    font-size: 32px;
}

.about-me h4 {
    font-size: 24px;
    margin: 20px 0;
}

.about-content {
    text-align: center;
}

.about-content p {
    padding: 50px 30px;
    max-width: 600px;
    margin: 0 auto;
    font-size: 20px;
}

.info {
    padding-bottom: 25px;
}

.info a{
    padding: 15px;
    color: black;
}

.info a:hover{
    color: white;
}


/**************************************************************************************/
/************************************ABOUT ME*********************************/
/**************************************************************************************/

.project-info {
    text-align: center;
    color: white;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.project-info h2 {
    font-size: 32px;
    margin: 0;
}

.project-info p {
    font-size: 20px;
}

section {
    text-align: center;
}

section p {
    margin: 0 auto;
    max-width: 800px;
    font-size: 20px;
    padding: 40px 10px 20px 10px;
}

section.even {
    background-color: black;
    color: white;
}

section img {
    max-width: 750px;
    width: 90%;
    padding: 10px;
    padding-bottom: 20px;
}

.even+footer {
    color: white;
    background: black;
}

.try-it {
    margin: 30px;
    margin-top: 50px;
    border: 3px solid white;
    background-color: white;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
    color: black;
    letter-spacing: 1px;
    padding: 0 20px;
    transition: 0.2s;
    cursor: pointer;
}

.try-it:hover {
    border: 3px solid white;
    background-color: black;
    color: white;
}

.try-it a {
    text-decoration: none;
    color: inherit;
}